 body {
  text-align: center;
  background-color: #7C83FD;
  background-image: url("images/sky-background.jpg");
  image-resolution: snap;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

h1 {
  font-size: 6.5rem;
  color: #D3E0EA;
  font-family: 'Italianno', serif;
  font-weight: lighter;


}

footer {
  color: #F9F9F9;
  font-family: 'Great Vibes',serif;
  font-size: 1.5rem;
  padding: 5% auto 2%;

}

.set {
  margin: 5% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.2;
}

.piano{

  font-size: 3.5rem;
  font-family: 'Cinzel', serif;
  color: black;
  display: inline-block;
  width: 50px;
  height: 300px;
  text-align: center;

}
.black
{
  color:white;
  width: 40px;
  height: 200px;
  margin: 0;
  background-color: black;
  font-size: 2.2rem;
}

@media(max-width:500px)
{
  h1{font-size:5rem;
    margin-top: 30%;
    padding: 0 5%}
  .set
    {
      margin: 25% auto;

    }
    .piano{
      width: 6%;
      height: 150px;
      overflow: hidden;
      text-indent: -9999px;
    }

    .black{
      width: 4%;
      height: 100px;
    }

  footer{
    margin:35% auto 3% auto;
  }

}
 @media(max-width:736px)
{
  .piano{
    height:170px;
    width:5%;
    overflow: hidden;
    text-indent: -9999px;}
    .black{
      height:120px;
      width:4%
    }
    h1{
      font-size: 4.5rem;
    }

}
